body {
    margin 0;
    background-image: url("https://wallpaperaccess.com/full/1411104.jpg");
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header div h1{
    display: inline-block;
    padding:10px 10px;
    background-color:rgb(180, 14, 14) ;
    border-radius:50px; 
}
.header div h3 {
    display: inline-block;
    padding:10px 10px;
    background-color:  rgb(239, 131, 7);
    border-radius: 50px;
}
p {
    color: green
}
section h2{
    color: rgb(0, 84, 0);
}
.form {
    color:  rgb(0, 84, 0);
}
section p {
    color: white;
}
